apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: go-simple-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/dannylwe/go-simple-app'
    targetRevision: HEAD
    path: simple-go-app-helm
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
