replicaCount: 1
image:
  repository: "otel/opentelemetry-collector-k8s"

serviceAccount:
  create: true
  name: otel-collector

mode: daemonset

config:
  receivers:
    otlp:
      protocols:
        grpc:
        http:
  processors:
    batch:
  exporters:
    logging:
      loglevel: debug
  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [logging]