apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://grafana.github.io/helm-charts'
    targetRevision: 10.2.0
    chart: grafana
    helm:
      releaseName: grafana
      valueFiles:
        - 'https://raw.githubusercontent.com/dannylwe/go-simple-app/HEAD/deploy/helm/grafana/values.yaml'
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true