apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://grafana.github.io/helm-charts'
    targetRevision: 2.10.3
    chart: loki-stack
    helm:
      releaseName: loki
      valueFiles:
        - 'https://raw.githubusercontent.com/dannylwe/go-simple-app/HEAD/deploy/helm/loki/values.yaml'
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true