apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://grafana.github.io/helm-charts'
    targetRevision: 1.56.2
    chart: tempo-distributed
    helm:
      releaseName: tempo
      valueFiles:
        - 'https://raw.githubusercontent.com/dannylwe/go-simple-app/HEAD/deploy/helm/tempo/values.yaml'
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true