serviceAccount:
  create: true
  name: promtail

config:
  clients:
    - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
  positions:
    filename: /tmp/positions.yaml
  scrape_configs:
    - job_name: go-app
      static_configs:
        - targets:
            - localhost
          labels:
            job: go-app
            app: go-simple-app
