server:
  service:
    type: NodePort
    nodePort: 30900
  persistentVolume:
    enabled: true
    size: 1Gi
    storageClass: local-path
    accessModes:
      - ReadWriteOnce

alertmanager:
  persistentVolume:
    enabled: false

prometheusSpec:
  serviceMonitorSelector:
    matchLabels:
      app: go-simple-app
  scrapeInterval: 15s
  evaluationInterval: 15s
  retention: 2d
